.alert {
  top: 0;
  padding: 20px;
  background-color: #18761b;
  color: white;
  position: fixed;
  width: 100%;
  animation: fadeOut 5s linear forwards;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translateY(0px);
  }
  99% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0;
  }
}
