.Navigation {
  background: #005873;
  height: 70px;
}
.main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  padding-top: 25px;
  object-fit: contain;
}

@media (max-width: 600px) {
  .main {
    width: 100%;
  }
}
